# dependencies
node_modules/
/.pnpm
/.yarn

# build outputs
.next/
out/
build/
dist/
*.tsbuildinfo

# logs
*.log
dev-server.log
dev-server-err.log

# environment variables
.env
.env.*
!.env.example
.env*.local
.env.production
.env.development

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
